div.show-weather-widget {
	max-width: 300px;
	background-color: #59aad4;
	color: #ffffff;
	font-size: 14px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-moz-box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, 0.8);
	padding: 8px 8px;
	text-align: center;
	margin: 0 auto;

}

div.show-weather-widget h3 {
	color: #ffffff;
	margin-bottom: 0.75em;
	padding-top: 0.3em;
}

div.show-weather-widget div.temp{
	width: 50%;
	font-size: 40px;
	float: left;
	padding-right: 5px;


}

div.show-weather-widget div.temp p:first-child {
	font-size: 1em;
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 0.25em;
	line-height: 1em;

}


div.show-weather-widget div.temp p:nth-child(2) {
	font-size: 0.35em;
	padding-top: 0;
	margin-top: 0;


}

div.show-weather-widget div.image {
	width: 50%;
	float: right;
	padding-top: 0.75em;
}



div.show-weather-widget div.wind{
	clear:both;
}

div.show-weather-widget div.humidity{
	padding-bottom: 0.3em;
}

